body{
    font-family:Arial,sans-serif;

    background:
    linear-gradient(
        135deg,
        #f8fafc,
        #e2e8f0
    );

    margin:0;
}

h1{
    text-align:center;
    color:#333;
}

h3{
    text-align:center;
    color:#555;
    margin-bottom:30px;
}

.container{
    width:90%;
    margin:auto;
}

table{
    border-collapse:collapse;
    width:100%;
    background:white;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
    border-radius:10px;
    overflow:hidden;
}

table tr:nth-child(even){
    background:#f8fafc;
}

table tr:hover{
    background:#eff6ff;
}

th{
    background:#007bff;
    color:white;
}

th,td{
    padding:15px;
    text-align:center;
    border:1px solid #ddd;
}

table img{
    width:90px;
    height:90px;

    object-fit:cover;

    border-radius:10px;
}

a{
    text-decoration:none;
    margin:5px;
}

.top-buttons{
    display:flex;
    justify-content:center;
    gap:15px;
    margin:25px 0;
}

.btn{
    background:#2563eb;
    color:white;

    padding:10px 20px;

    border:none;
    border-radius:8px;

    text-decoration:none;

    cursor:pointer;
    transition:0.3s;
}

.btn:hover{
    background:#1d4ed8;
}

.edit-btn{
    background:#28a745;

    color:white;

    padding:10px 18px;

    border-radius:8px;

    text-decoration:none;

    font-weight:bold;

    display:inline-block;
}

.edit-btn:hover{
    transform:scale(1.05);
}

.delete-btn{
    background:#dc3545;

    color:white;

    padding:10px 18px;

    border-radius:8px;

    text-decoration:none;

    font-weight:bold;

    display:inline-block;
}

.delete-btn:hover{
    transform:scale(1.05);
}

.form-card{
    max-width:500px;
    margin:40px auto;
    background:white;
    padding:30px;
    border-radius:12px;
    box-shadow:0 4px 15px rgba(0,0,0,0.1);
    text-align:center;
}

.form-card input{
    width:90%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:16px;
}

.stats-container{

    display:grid;

    grid-template-columns:
    repeat(4,1fr);

    gap:25px;

    margin:40px 0;
}

.stat-card{
    background:white;
    border-radius:20px;
    padding:30px;
    width:220px;

    text-align:center;

    box-shadow:
    0 10px 25px rgba(0,0,0,0.08);

    transition:0.3s;
}

.stat-card:hover{
    transform:translateY(-8px);
}

.stat-card h3{
    font-size:42px;
    color:#1877f2;
    margin-bottom:10px;
}

.stat-card p{
    color:#666;
    font-size:18px;
}

.stat-card:nth-child(4){

    background:
    linear-gradient(
        135deg,
        #2563eb,
        #3b82f6
    );

    color:white;
}

.stat-card:nth-child(4) h3{
    color:white;
}

.stat-card:nth-child(4) p{
    color:white;
}

.navbar{
    background:#0f172a;
    color:white;
    padding:15px 50px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-radius:10px;
    margin-bottom:30px;
}

.logo{
    font-size:28px;
    font-weight:bold;
}

.nav-links a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    font-weight:500;
}

.nav-links a:hover{
    color:#3b82f6;
}

.product-card{
    background:white;
    border-radius:15px;
    overflow:hidden;
    transition:0.3s;
    box-shadow:0 4px 15px rgba(0,0,0,0.08);
}

.product-card:hover{
    transform:translateY(-10px);
    box-shadow:0 15px 30px rgba(0,0,0,0.15);
}

/* Product Image */
.product-card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

table tr{
    transition:0.3s;
}

table tr:hover{
    background:#eef6ff;
}

.search-box{
    width:450px;

    padding:15px;

    border:none;

    border-radius:12px;

    font-size:16px;

    box-shadow:
    0 5px 15px rgba(0,0,0,.1);
}

.products-grid{
    display:grid;

    grid-template-columns:
    repeat(auto-fill,minmax(250px,1fr));

    gap:25px;

    margin-top:40px;
}

.product-card{

    background:white;

    border-radius:20px;

    padding:20px;

    text-align:center;

    height:360px;

    box-shadow:
    0 10px 25px rgba(0,0,0,.08);

    transition:.3s;
}

.product-card:hover{

    transform:translateY(-10px);

    box-shadow:
    0 20px 35px rgba(0,0,0,.15);
}

.product-card img{

    width:180px;
    height:180px;

    object-fit:contain;

    background:#f8f9fa;

    border-radius:12px;

    padding:10px;
}

.product-card h3{
    font-size:22px;

    margin:15px 0;

    min-height:60px;
}

.product-card p{
    color:#1877f2;
    font-size:22px;
    font-weight:bold;
}

.card-buttons{
    margin-top:15px;
}

.card-buttons a{
    margin:0 8px;
}

.dashboard-header{

    text-align:center;

    margin:30px 0;
}

.dashboard-header h2{

    color:#333;
}

.dashboard-header p{

    color:#777;
}

.section-title{

    margin-top:50px;

    margin-bottom:25px;

    color:#333;
}

.layout{
    display:flex;
}

.sidebar{

    width:220px;

    min-height:100vh;

    background:#0f172a;

    padding:30px 20px;

    position:fixed;

    left:0;
    top:0;
}

.sidebar h2{

    color:white;

    text-align:center;

    margin-bottom:40px;
}

.sidebar a{

    display:block;

    color:#cbd5e1;

    text-decoration:none;

    padding:15px;

    border-radius:10px;

    margin-bottom:10px;

    transition:.3s;
}

.sidebar a:hover{

    background:#1e293b;

    color:white;
}

.sidebar .active{

    background:#2563eb;

    color:white;
}

.main-content{

    margin-left:270px;

    width:100%;

    padding:20px;
}

.subtitle{

    text-align:center;

    color:#64748b;

    margin-top:-10px;

    margin-bottom:30px;

    font-size:18px;
}
